<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/images/mini-logo-bg-removed.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - SUBTLETY</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/user/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <style>
    .otp-inputs {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .otp-box {
      width: 40px;
      height: 40px;
      border: 2px solid #9135ED;
      margin: 0 5px;
      text-align: center;
      font-size: 24px;
      color: #9135ED;
      outline: none;
      cursor: text;
      border-radius: 5px;
    }

    .otp-box:focus {
      border: 2px solid #4CAF50;
      /* Green border on focus */
    }

    /* Input focus styles */
    .form-control:focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* Custom styles for valid/invalid inputs */
    .form-control.is-valid {
      border-color: #28a745;
    }

    .form-control.is-invalid {
      border-color: #dc3545;
    }

    /* Password validation styles */
    .password-validation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }

    .password-validation span {
      color: red;
    }

    .password-validation .fa-eye {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="login-container">
    <h2 style="color: #9135ED;" class="text-center">SUBTLETY</h2>

    <!-- Error message placeholder -->
    <% if (errorMessage) { %>
    <div class="alert alert-danger" role="alert" id="errorAlert">
      <%= errorMessage %>
    </div>
    <% } %>

    <form id="loginForm" action="/user/login" method="post">
      <div class="form-group">
        <label for="usermail"><small>Email</small></label>
        <input type="email" class="form-control " id="email" name="email" placeholder="Enter email" required>
        <div class="invalid-feedback"><small>Please enter a valid email address.</small></div>
      </div>
      <div class="form-group password-wrapper">
        <label for="password"><small>Password</small></label>
        <input type="password" class="form-control " id="password" name="password" placeholder="Enter password" required>
        <i class="fa-regular fa-eye" id="togglePassword"></i>
        <div class="invalid-feedback"><small>Password must be at least 6 characters long.</small></div>
      </div>
      <button type="submit" class="btn btn-primary btn-block  hello mt-4">Login</button>
    </form>
    <p class="text-center">or</p>
    <a href='/auth/google' class="btn btn-primary btn-block  hai">
      <img src="/images/google_icon.svg" alt="Google Icon" /> Login with Google
    </a>
     <!-- Demo Login button -->
  <p class="text-center mt-3">
    <button id="demoLoginButton" class="btn btn-secondary btn-block">
      Demo Login
    </button>
  </p>

    <p class="text-center mt-3"><small>Already have an account? </small><a href="/user/signup"><small>Signup here</small></a></p>

    <div class="mt-3 text-center">
      <a href="/user/forgot-password" style="text-decoration: none; color: #9135ED;" class="mb-1"><small>Forgot Password?</small></a>
    </div>

    <script src="/js/login.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      // Demo login functionality
      document.getElementById('demoLoginButton').onclick = function() {
        // Fill the email and password fields with demo credentials
        document.getElementById('email').value = '<%= demoEmail %>';
        document.getElementById('password').value = '<%= demoPassword %>';
  
        // Hide the Demo Login button
        document.getElementById('demoLoginButton').style.display = 'none';
      };
    </script>
</body>

</html>